__pycache__/
*.pt
*.so
.cache*

# CMake                                                      
build/        
CMakeCache.txt
CMakeFiles/                                                  
cmake_install.cmake                                          
compile_commands.json                                        
CMakeScripts/                                                
*.cmake                                                
!CMakeLists.txt